extends _layout.pug

block locals
  - var title = 'Hellow Pug';

block content
  h1 Hellow Pug!
  div#react-root
  div#vue-root
  div
    .main-image
      img.icon(src="../images/icon.png")
      img(src="../images/matsumotoai.jpg")
      img(src="../images/dan-asaki-VyP9_YWfz3k-unsplash.jpg")
